<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <title>Fake Name Generator</title>
</head>
<body>
<div class="name">
    <p>
    <label for="name">Full name:</label>
    <input  type="text" id="name" name="name" value="{{ full_name }}">

    </p>
 </div>
<div class="name">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ username }}">
</div>
<p>

<a href="/"><button>More</button></a>

</p>
</body>
</html>
